html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: none;
  font-family: regular;
}

@font-face {
  font-family: bold;
  src: url(/public/fonts/LEMONMILK-Bold.otf);
}

@font-face {
  font-family: regular;
  src: url(/public/fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: medium;
  src: url(/public/fonts/LEMONMILK-Medium.otf);
}

@font-face {
  font-family: medium;
  src: url(/public/fonts/LEMONMILK-Light.otf);
}

button {
  border: none;
  background-color: transparent;
}

@mixin flexBox($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// ╔══════════╗
// ║   Home   ║
// ╚══════════╝

.Home {
  width: 100%;
  height: 100vh;
  @include flexBox();
  background-image: url(https://w.wallhaven.cc/full/p8/wallhaven-p885j3.png);
  background-size: cover;
  background-position: center;
}

.homeContainer {
  width: 90%;
  height: 85%;
  @include flexBox();
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.452) 0 calc(2vh + 2vw) calc(3vh + 3vw);
  border-radius: calc(2vh + 2vw);
}

.navBar01 {
  background-color: white;
  height: 100%;
  width: 25%;
}

.feed02 {
  background-color: white;
  border: 1px solid black;
  height: 100%;
  width: 50%;
}

.sideBar03 {
  background-color:white;
  height: 100%;
  width: 25%;
}

// ╔══════════╗
// ║   Feed   ║
// ╚══════════╝

.feedBox {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.feedNavBox {
  @include flexBox();
  justify-content: space-between;
  font-size: calc(0.8vh + 0.8vw);
  padding: calc(1vh + 1vw);
}

.feedFilters {
  @include flexBox();
  justify-content: space-evenly;
}

.allPosts, .friendsPosts, .feedTitle {
  padding-right: calc(1vh + 1vw);
}

.feedTitle {
  padding-left: calc(1vh + 1vw);
}

.postsAndForm {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  
}

.postsBox {
  @include flexBox(column);
  flex-grow: 9; 
  width: 100%;
  overflow-y: scroll;
}

.feedFormBox {
  flex-grow: 1; 
  width: 100%;
}

// ╔═══════════╗
// ║   Posts   ║
// ╚═══════════╝

.postsComp {
  width: 100%;
  height: min-content;
  overflow-y: scroll;

}

.postsContainer {
  width: 100%;
  overflow-y: scroll;
  @include flexBox(column);
  justify-content: flex-start;
}

.postsCard {
  display: flex;
  flex-direction: column;
  padding: calc(1vh + 1vw);
  margin: calc(1vh + 1vw);
  background-color: rgb(214, 208, 223);
  width: 80%;
  height: max-content;
  border-radius: calc(1vh + 1vw);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.postDetailsBox {
  display: flex;
}

.postDetail {
  padding-right: calc(1vh + 1vw);
}

.postNav {
  display: flex;
  align-items: center; 
}

.postUsername {
  padding-left: calc(1vh + 1vw);
}

.postUserImg {
  width: calc(3vh + 3vw);
  border-radius: 50%;
  height: auto;
}

.postContentBox {
  padding: calc(1vh + 1vw) 0;
}


// ╔══════════════╗
// ║   AllPosts   ║
// ╚══════════════╝

.postForm, .feedFormPage {
  height: 100%;
}

.postForm {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 100%;
}

.formBottom {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.usersPic {
  width: calc(3vh + 3vw);
  border-radius: 50%;
}

.formTopImg {
  width: 10%;
}

.formTopInput {
  width: 80%;
  @include flexBox()
}

.postInput {
  padding: calc(1vh + 1vw);
  border-radius:  calc(1vh + 1vw);
  background-color: rgb(198, 214, 248);
  border: none;
  height: 90%;
  width: 80%;
}

.fileIcon, .imgIcon {
  width: calc(1vh + 1vw);
  height: auto;
}

.files, .images {
  display: flex;
}

// ╔══════════════╗
// ║   UserForm   ║
// ╚══════════════╝

.userForm {
  width: 100%;
  height: 100vh;
  @include flexBox();
  background-image: url(/public/images/wallhaven-833p72.png);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.443); 
  background-blend-mode: overlay;
}


.userFormContainer {
  @include flexBox();
  justify-content: space-evenly;
  background-color: white;
  width: 70%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.29) 0px calc(1vh + 1vw) calc(2vh + 2vw), rgba(0, 0, 0, 0.514) 0px calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  border-radius: calc(1vh + 1vw);

}

.userFormImageBox {
  background-image: url(/public/images/wallhaven-833p72.png);
  background-size: cover;
  @include flexBox();
  align-items: flex-start;
  text-align: left;
  color: white;
  width: 40%;
  height: 100%;
  overflow: hidden;
  border-radius: calc(1vh + 1vw) 0 0  calc(1vh + 1vw);;

}

.welcome {
  padding-top: calc(5vh + 5vw);
  font-size: calc(1.8vh + 1.8vw);
  font-family: bold
}

.userFormBox {
  @include flexBox();
  height: 100%;
  width: 60%;
}

.userFormInputBox {
  @include flexBox(column);
  justify-content: space-between;
  height: 80%;
  width: 70%;
}

.userFormInputs {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scrollbar-width: none;
  font-size: calc(0.5vh + 0.5vw);
  width: 100%;
  height: 100%;
}

.userFormInputs::-webkit-scrollbar {
  display: none;
}

.dropDownInput {
  background-color: transparent;
  border: calc(0.1vh + 0.1vw) solid rgb(0, 102, 255);
  border-radius: calc(1vh + 1vw);
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  width: calc(8vh + 8vw);

}

.textBox {
  width: 100%;
  font-size: calc(0.8vh + 0.8vw);
  padding:  calc(1vh + 1vw) 0;
  color: rgb(0, 102, 255);
}

.editH1 {
  font-family: bold;

}

.submitButton {
  background-color: rgb(0, 102, 255);
  color: white;
  width: 100%;
  border-radius: calc(1vh + 1vw);
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  margin: calc(0.5vh + 0.5vw);
  font-family: bold;

}

.userFormInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.5vh + 0.5vw) 0;
}

.userFormInput input {
  border: calc(0.1vh + 0.1vw) solid rgb(0, 102, 255);
  border-radius: calc(1vh + 1vw);
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  width: calc(8vh + 8vw);
  
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 102, 255);
  color: white;
  border-radius: calc(1vh + 1vw);
  padding: calc(0.8vh + 0.8vw) calc(1.5vh + 1.5vw);
  font-family: bold;
  margin: calc(1vh + 1vw);
}

.userFormInput label {
  color: rgb(255, 149, 0);
  text-shadow: 0 0 calc(0.5vh + 1vw)  rgb(255, 149, 0);
}

.userName {
  margin-top: calc(10vh + 10vw);
}